.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
target/
Bank *
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/Bank *
*/Issuer *
pyledger/contracts/@openzeppelin/
pyledger/compiled_*
compiled_*
*/ERC/
./pyledger/contracts/ERC/
./pyledger/contracts/utils/
Issuer *
pyledger/extras/evmnet/keys.json
.idea/
tests/Bank *
tests/Issuer *
*/.idea/
padl_venv/*
*.temp_env
????????????????????????????????????????*
.temp_env
*/PartyA *
*/PartyB *
